.advantages {
  padding-top: 94px;

  &__items-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    list-style: none;
  }

  &__items-holder > li {
    flex-basis: calc((100% - 90px) / 4);
  }

  &__items-holder > li > div {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: var(--background-color1);
    border-radius: 4px;
    margin-bottom: 30px;
  }

  &__items-holder > li > h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text-color);
    padding-bottom: 10px;
  }
}
