@use '../utils/variables' as vars;
.advantages {
  padding-top: 94px;
  padding-bottom: 60px;
  @include vars.media-tablet {
    padding-bottom: 45px;
  }
  @include vars.media-desktop {
    padding-bottom: 0px;
  }

  &__items-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    list-style: none;
  }
  &__item {
    flex-basis: calc(100%);
    @include vars.media-tablet {
      flex-basis: calc((100% - 30px) / 2);
    }
    @include vars.media-desktop {
      flex-basis: calc((100% - 90px) / 4);
    }
  }

  &__iconbox {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: var(--background-color1);
    border-radius: 4px;
    margin-bottom: 30px;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text-color);
    @include vars.media-mobile-tab {
      text-align: center;
    }
    padding-bottom: 10px;
  }
}
