.company-newsletter__email {
  width: 358px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--background-color2);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  margin-right: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--third-text-color);
  }

  &:focus {
    border-color: var(--selected-item-color);
  }
}

.company-newsletter__btn {
  position: relative;
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--fourth-text-color);
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 42px;
  background: var(--selected-item-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  fill: var(--fourth-text-color);
  cursor: pointer;

  &-icon {
    position: absolute;
    top: 13px;
    right: 28px;
  }
}
