.company-address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  background-color: var(--background-color2);

  &__links {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--third-text-color);
    outline: none;
    transition: var(--links-hoverfocus-animation1);
  }

  &__links:visited {
    color: var(--third-text-color);
  }

  &__links--street {
    color: var(--fourth-text-color);
    padding-top: 20px;
  }

  &__links--street:visited {
    color: var(--fourth-text-color);
  }

  &__links:focus,
  &__links:hover {
    color: var(--selected-item-color);
  }

  &__links--geometry1 {
    padding-top: 9px;
    padding-bottom: 9px;
  }
}
