@use '../utils/variables' as vars;
.company-address {
  display: flex;
  flex-direction: column;
  @include vars.media-tablet-max {
    align-items: center;
  }
  font-style: normal;
  background-color: var(--background-color2);

  &__links {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--third-text-color);
    outline: none;
    transition: var(--links-hoverfocus-animation1);

    &:visited {
      color: var(--third-text-color);
    }

    &--street {
      color: var(--fourth-text-color);
      padding-top: 20px;

      &:visited {
        color: var(--fourth-text-color);
      }
    }

    &:focus,
    &:hover {
      color: var(--selected-item-color);
    }

    &--geometry1 {
      padding-top: 9px;
      padding-bottom: 9px;
    }
  }
}
