.company-address__media {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  outline: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--fourth-text-color);
  transition: var(--background-hoverfocus-animation1), var(--icons-hoverfocus-animation1);

  &:focus,
  &:hover {
    background-color: var(--selected-item-color);
    fill: var(--fourth-text-color);
  }
}
