@use '../utils/variables' as vars;
.contractors {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 30px;
  @include vars.media-desktop {
    padding-top: 50px;
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: calc(33 / 22);
    @include vars.media-desktop {
      font-size: 36px;
      line-height: calc(42 / 36);
    }
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__boxitemlink {
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-wrap: wrap;
    box-sizing: border-box;
    height: 92px;
    width: 210px;
    @include vars.media-tablet {
      width: 226px;
    }
    @include vars.media-desktop {
      width: 170px;
    }
    border: 1px solid var(--decorations-first-color);
    border-radius: 4px;
    outline: none;
    fill: var(--decorations-first-color);
    transition: var(--icons-hoverfocus-animation1), var(--border-hoverfocus-animation1);

    &:focus,
    &:hover {
      fill: var(--selected-item-color);
      border: 1px solid var(--selected-item-color);
    }
  }
}
