.contractors {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 50px;

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }

  & > a {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 92px;
    width: 170px;
    border: 1px solid var(--decorations-first-color);
    border-radius: 4px;
    outline: none;
    fill: var(--decorations-first-color);
    transition: var(--icons-hoverfocus-animation1), var(--border-hoverfocus-animation1);
  }

  & > a:focus,
  & > a:hover {
    fill: var(--selected-item-color);
    border: 1px solid var(--selected-item-color);
  }
}
