.contact-form1 {
  &__title {
    display: block;
    position: relative;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--second-text-color);

    &--geometry1 {
      padding-bottom: 10px;
    }

    &--geometry2 {
      padding-bottom: 20px;
    }
  }

  &__items-icon {
    position: absolute;
    top: 31px;
    left: 15px;
  }

  &__items {
    display: block;
    width: 100%;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    outline: none;
    margin-top: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: var(--border-hoverfocus-animation1), var(--icons-hoverfocus-animation1);
  }

  &__items:focus {
    border-color: var(--selected-item-color);
  }

  &__items:focus + svg {
    fill: var(--selected-item-color);
  }

  &__items::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  &__items:not(:placeholder-shown):required:invalid {
    border-color: var(--errors-color);
  }

  &__items--textarea-parm {
    padding-left: 15px;
    resize: none;
  }

  &__agreement {
    display: block;
    position: relative;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--second-text-color);
    padding-bottom: 30px;
    padding-left: 10px;
    cursor: pointer;
  }

  &__agreement-rec {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }

  &__agreement-rec:before {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 10px;
    height: 150px;
    width: 160px;
    cursor: pointer;
    background-repeat: no-repeat;
    /* ToDo after hw7 & hw8 check svg after ico & opt */
    /* background-position: right 0.7rem top 50%, 0 0; */
    /* background-size: 0.65rem auto, 100%; */
    /* background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid'%3e%3cg%3e%3cpolygon points='0,0 16,0 8,16' fill='blue'/%3e%3c/g%3e%3c/svg%3e"); */
    background-image: url('data:image/svg+xml,%3Csvg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath id="Vector" d="M14.2222 1.66667V13.3333H1.77778V1.66667H14.2222ZM14.2222 0H1.77778C0.8 0 0 0.75 0 1.66667V13.3333C0 14.25 0.8 15 1.77778 15H14.2222C15.2 15 16 14.25 16 13.3333V1.66667C16 0.75 15.2 0 14.2222 0Z" fill="%23212121"/%3E%3C/svg%3E%0A');
  }

  &__agreement-rec:checked:before {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 10px;
    height: 15px;
    width: 16px;
    cursor: pointer;
    background-repeat: no-repeat;
    /* ToDo after hw7 & hw8 check svg after ico & opt */
    /* background-position: right 0.7rem top 50%, 0 0; */
    /* background-size: 0.65rem auto, 100%; */
    /* background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid'%3e%3cg%3e%3cpolygon points='0,0 16,0 8,16' fill='blue'/%3e%3c/g%3e%3c/svg%3e"); */
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='icon check'%3E%3Crect id='Rectangle 11' width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath id='Vector' d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/g%3E%3C/svg%3E");
  }

  &__links {
    color: rgba(33, 150, 243, 1);
    outline: none;
    transition: var(--links-hoverfocus-animation1);
  }

  &__links:focus,
  &__links:hover {
    color: rgba(33, 150, 243, 1);
  }

  &__links:visited {
    color: rgba(33, 150, 243, 1);
  }

  &__btn {
    display: block;
    width: 200px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: var(--fourth-text-color);
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background: var(--selected-item-color);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
}
