/*portfolio page settings*/

.filterbuttons1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  list-style: none;

  &__btn1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: var(--background-color1);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: var(--links-hoverfocus-animation1), var(--background-hoverfocus-animation1),
      var(--box-hoverfocus-animation1);
  }

  &__btn1:focus,
  &__btn1:hover {
    color: var(--fourth-text-color);
    background-color: var(--selected-item-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  &__description {
    display: none;
    visibility: hidden;
  }
}
