@use '../utils/variables' as vars;
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: visibility, opacity;
  transition-duration: 1s;
  opacity: 1;
  cursor: not-allowed;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  min-height: 609px;
  @include vars.media-desktop {
    width: 528px;
    min-height: 581px;
  }
  transform: translate(-50%, -50%);
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--fourth-text-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: initial;

  &__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--fourth-text-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: var(--icons-hoverfocus-animation1);

    &:focus,
    &:hover {
      fill: var(--selected-item-color);
    }
  }
  &__container {
    margin: 0 auto;
    width: 370px;
    @include vars.media-desktop {
      width: 448px;
    }
  }

  &__paragraph-title {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(30 / 20);
    @include vars.media-desktop {
      font-size: 20px;
      line-height: calc(23 / 20);
    }
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    padding-bottom: 12px;
  }
}
