.navigation {
  display: flex;
  align-items: center;
  list-style: none;

  &__item1 {
    padding-left: 46px;
    padding-right: 46px;
  }

  &__links {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-text-color);
    outline: none;
    transition: var(--links-hoverfocus-animation1);

    /* &:visited {
    color: var(--main-text-color);
  } */

    &:focus,
    &:hover {
      color: var(--selected-item-color);
    }

    &--agency-active {
      color: var(--selected-item-color);
    }

    &--agency-active::after {
      content: '';
      display: block;
      position: absolute;
      top: 78px;
      height: 4px;
      width: 51px;
      border-radius: 2px;
      background-color: var(--selected-item-color);
    }

    &--agency:hover::after {
      content: '';
      display: block;
      position: absolute;
      top: 78px;
      height: 4px;
      width: 51px;
      border-radius: 2px;
      background-color: var(--selected-item-color);
    }

    &--portfolio-active {
      color: var(--selected-item-color);
    }

    &--portfolio-active::after {
      content: '';
      display: block;
      position: absolute;
      top: 78px;
      height: 4px;
      width: 57px;
      border-radius: 2px;
      background-color: var(--selected-item-color);
    }

    &--portfolio:hover::after {
      content: '';
      display: block;
      position: absolute;
      top: 78px;
      height: 4px;
      width: 57px;
      border-radius: 2px;
      background-color: var(--selected-item-color);
    }

    &--contact-active {
      color: var(--selected-item-color);
    }

    &--contact-active::after {
      content: '';
      display: block;
      position: absolute;
      top: 78px;
      height: 4px;
      width: 57px;
      border-radius: 2px;
      background-color: var(--selected-item-color);
    }

    &--contact:hover::after {
      content: '';
      display: block;
      position: absolute;
      top: 78px;
      height: 4px;
      width: 57px;
      border-radius: 2px;
      background-color: var(--selected-item-color);
    }
  }
}
