.offer {
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__items-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding-top: 50px;

    & > li {
      position: relative;
    }

    & > li > img {
      display: block;
    }

    & > li > p {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 370px;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--fourth-text-color);
      padding-top: 27px;
      padding-bottom: 27px;
      background: rgba(47, 48, 58, 0.8);
    }
  }
}
