@use '../utils/variables' as vars;
/*main page settings*/

.ordering {
  background-color: var(--background-color2);
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/decorations/teambackground.jpg');
  background-position: center;
  background-repeat: no-repeat;
  /* max-width: 1600px;
    margin: 0 auto; */
  /* background-size: contain; */

  &__items-holder {
    padding-top: 118px;
    padding-bottom: 118px;
    @include vars.media-desktop {
      padding-top: 200px;
      padding-bottom: 200px;
    }
  }

  &__text {
    width: 365px;
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);
    @include vars.media-desktop {
      width: 680px;
      font-size: 44px;
      line-height: calc(60 / 44);
    }
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--fourth-text-color);
    margin: 0 auto;
    margin-bottom: 30px;
  }

  &__btn {
    width: 200px;
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--selected-item-color);
    color: var(--fourth-text-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: var(--box-hoverfocus-animation1);

    &:focus,
    &:hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  }
}
