@use '../utils/variables' as vars;
.portfolio1 {
  $classname: &;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  list-style: none;

  &__description {
    display: none;
    visibility: hidden;
  }

  &__item {
    position: relative;
    // max-
    width: 450px;
    @include vars.media-tablet {
      // max-
      width: 354px;
    }
    @include vars.media-desktop {
      // max-
      width: 370px;
    }
    font-size: 0;
    overflow: hidden;
    cursor: pointer;
    transition: var(--box-hoverfocus-animation1);
    &:hover,
    &:hover #{$classname}__realizationdescrp {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
      transform: translateY(0);
    }
  }
  &__picture {
    display: block;
    height: auto;
    width: 100%;
  }

  &__realizationdescrp {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--fourth-text-color);
    padding-top: 77px;
    padding-bottom: 77px;
    @include vars.media-tablet {
      padding-top: 49px;
      padding-bottom: 49px;
    }
    @include vars.media-desktop {
      padding-right: 45px;
    }
    padding-left: 24px;
    padding-right: 24px;
    background: rgba(33, 150, 243, 0.9);
    transition: transform 250ms linear;
  }

  &__databox {
    position: relative;
    z-index: 1;
    // width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    @include vars.media-tablet-range {
      padding-bottom: 56px;
    }
    padding-left: 24px;
    padding-right: 5px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    background-color: var(--fourth-text-color);
  }

  &__realizationname {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
  }

  &__realizationtype {
    font-size: 16px;
    margin-top: 4px;
  }
}
