.team {
  &__bck-color {
    background-color: var(--background-color1);
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__items-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    padding-top: 50px;
    list-style: none;
  }
  &__item {
    width: 270px;
    background: var(--fourth-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__picture {
    display: block;
  }

  &__dataholder {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__membername {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
  }

  &__memberposition {
    padding-top: 10px;
  }

  &__iconholder {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    padding-top: 16px;
  }

  &__memberlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    outline: none;
    border-radius: 50%;
    fill: var(--decorations-first-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;

    &:focus,
    &:hover {
      fill: var(--fourth-text-color);
      background-color: var(--selected-item-color);
    }
  }
}
