.header {
  border-bottom: 1px solid #000;

  &__navigation-menu > &__nav-item {
    display: none;
    @media (min-width: 768px) {
      display: flex;
      gap: 60px;
      position: relative;
      top: 20px;
      right: 240px;
      list-style-type: none;
      font-weight: 500;
      line-height: 1.15;
      font-size: 14px;
      margin-top: 8px;
    }
  }

  @media (min-width: 768px) {
    &__navigation-menu > &__nav-item {
      display: flex;
      gap: 60px;
      position: relative;
      top: 20px;
      right: 240px;
      list-style-type: none;
      font-weight: 500;
      line-height: 1.15;
      font-size: 14px;
      margin-top: 8px;
    }
  }
}
