@use 'variables' as vars;
/*web site main settings*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-fonts);
  color: var(--main-text-color);
}

/*web site common settings*/

/*Geometry*/

.container {
  max-width: 480px;
  @include vars.media-tablet {
    max-width: 768px;
  }
  @include vars.media-desktop {
    max-width: 1200px;
  }
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &__teamcontractors {
    padding-top: 60px;
    padding-bottom: 60px;
    @include vars.media-desktop {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }

  &__filter-buttons {
    padding-top: 60px;
    @include vars.media-tablet {
      padding-bottom: 30px;
    }
    @include vars.media-desktop {
      padding-top: 94px;
      padding-bottom: 50px;
    }
  }

  &__portfolio {
    padding-bottom: 94px;
  }
}
