/*!web site main variables*/
:root {
  /*Colors*/
  --main-text-color: #212121; /*text, links text*/
  --second-text-color: #757575; /*text, links text*/
  --third-text-color: rgba(255, 255, 255, 0.6); /*links text*/
  --fourth-text-color: #fff; /*text, links text, icons, background*/
  --selected-item-color: #2196f3; /*text, links text, icons, background, links underline, inputs border*/
  --background-color1: #f5f4fa; /*background cards, background*/
  --background-color2: #2f303a; /*background*/
  --decorations-first-color: #afb1b8; /*border, icons*/
  --errors-color: #f11;

  /*Fonts*/
  --main-fonts: 'Roboto', 'Raleway', sans-serif;

  /*! Decorations*/
  --links-hoverfocus-animation1: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  --icons-hoverfocus-animation1: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  --background-hoverfocus-animation1: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  --box-hoverfocus-animation1: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  --border-hoverfocus-animation1: border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

@mixin media-mobile {
  @media (min-width: 480px) {
    @content;
  }
}

@mixin media-tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin media-tablet-range {
  @media (min-width: 768px) and (max-width: 1199px) {
    @content;
  }
}

@mixin media-desktop {
  @media (min-width: 1200px) {
    @content;
  }
}
